@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ViewModel.User.NhanVienVm

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Layout/AdminQuanTri.cshtml";
}


<div class="container-fluid">
    <h1 class="mt-4">Chi tiết</h1>

    <div class="card mb-4">
        <div class="card-header">
            <a class="btn btn-success" asp-action="Index" asp-controller="User">Về danh sách</a>
        </div>
        <br />
        <div class="card mb-12">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Id
                            </th>
                            <th>
                                Tên
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                Ngày sinh
                            </th>
                            <th>
                                Số điện thoại
                            </th>
                            <th>
                                Địa chỉ
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @Model.id
                            </td>
                            <td>
                                @Model.name
                            </td>
                            <td>
                                @Model.email
                            </td>
                            <td>
                                @Model.birthday
                            </td>
                            <td>
                                @Model.phone
                            </td>
                            <td>
                                @Model.address
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>
    </div>
</div>

